@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;500&display=swap');

/* general */
*:not(dialog) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #fff;
  color: #333;
}

/* sections */
main {
  display: grid;
  grid-template-columns: 220px 1fr;
}

menu {
  min-height: 100vh;
  background-color: #efefef;
  padding: 16px;
}

#lists {
  margin: 16px 0;
  display: grid;
  gap: 8px;
}

.content {
  margin: 16px;
}

#tasks {
  margin: 16px 0;
  display: grid;
  gap: 16px;
}

.section-header {
  display: flex;
  gap: 16px;
  align-items: baseline;
}

/* elements */
h1, h2, h3 {
  font-size: 1rem;
  font-weight: 500;
}

#lists > div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#lists > div:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.task-item {
  display: grid;
  grid-template-columns: 1rem 1fr auto 1rem 90px 1rem;
  gap: 8px;
  align-items: center;
}

.task-description {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.8rem;
}

.task-item:hover .task-done::before {
  content: '◯';
}

#lists > div:hover > .list-delete::before,
.task-item:hover .task-delete::before {
  content: 'X';
}

button {
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  line-height: 1rem;
  background: transparent;
  border: none;
  border-radius: 32px;
}

button:hover {
  cursor: pointer;
  color: #0eb20e;
}

/* states */
.done * {
  text-decoration: line-through;
  font-weight: 400;
  color: #aaa;
}

/* modal dialg */
dialog {
  border: none;
  box-shadow: 0px 0px 8px #33333333;
}

dialog h3 {
  margin-bottom: 8px;
}

dialog > * > * + * {
  margin-top: 8px;
}

dialog fieldset {
  border: none;
}

dialog fieldset input {
  margin-left: 8px;
}

fieldset > div {
  display: flex;
  gap: 4px;
}

input[type=text] {
  width: 100%;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #333;
}

input[type=date] {
  padding: 0.25rem;
  display: block;
  border-radius: 4px;
  border: 1px solid #333;
}

dialog button {
  margin-top: 16px;
  border: 1px solid #333;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}