@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

/* general */
*:not(dialog) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

/* sections */
main {
  display: grid;
  grid-template-columns: 220px 1fr;
}

menu {
  min-height: 100vh;
  background-color: #dbdbdb;
  padding: 16px;
}

.content {
  margin: 16px;
}

#todos {
  margin: 16px 0;
  display: grid;
  gap: 16px;
}


/* elements */
h1, h2, h3 {
  font-size: 1rem;
}

.new-todo,
.new-list {
  margin-top: 16px;
}

.todo-item {
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid black;
  border-radius: 32px;
}

button {
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  line-height: 1rem;
  background-color: #f7f7f7;
  border: 1px solid black;
  /* border: none; */
  border-radius: 32px;
  padding: 0.25rem 0.5rem;
  /* box-shadow: inset -2px -2px 3px #aaa, inset 2px 2px 4px #fff; */
}

.todo-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

/* states */
.done {
  background-color: greenyellow;
}